/* * remove default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* remove a default style */
a {
    text-decoration: none;
    color: #060606;
    font-weight: bold;
}

p {
    margin: 0;
}

.bg-primary-custom {
    background-color: #a6b6a9;
}

.bg-secondary-custom {
    background-color: #d4b4b0;
    /* transparent */
    /* background-color: rgba(212, 180, 176, 0.5); */
}

.custom-input-text {
    background-color: #ffffff;
    border: 1px solid #060606;
    padding: 5px;
}

.custom-btn-outline-secondary {
    border: 1px solid #060606;
    padding: 5px;
    background-color: #ffffff;
    color: black;
}

.custom-btn-outline-third {
    border: 1px solid #ffffff;
    padding: 2px 8px;
    background-color: #d4b4b0;
    color: white;
    border-radius: 25px;
}


.custom-btn-outline-secondary:hover {
    background-color: #060606;
    color: white;
}

.custom-btn-secondary {
    background-color: #060606;
    color: white;
    padding: 5px;
    border: 1px solid #060606;
}

.custom-btn-white {
    background-color: white;
    color: black;
    padding: 6px 20px;
    border-radius: 25px;
    border: none;;
}

.custom-btn-primary {
    
    background-color: #a6b6a9;
    color: white;
    padding: 6px 20px;
    /* border-radius: 25px; */
    border: none;;
}


/* .custom-btn-secondary:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #060606;
} */

.custom-btn-primary {
    background-color: #a6b6a9;
    /* remove default style of button */
    border: none;
    color: white;
    padding: 5px 10px;
}

.custom-btn-primary:hover {
    background-color: #edeaea;
    color: black;
    
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-view {
    height: 100vh;
}

.border-primary-custom {
    border: 1px solid #a6b6a9;
}

.border-r-primary-custom {
    border-right: 1px solid #a6b6a9;
}

.border-l-primary-custom {
    border-left: 1px solid #a6b6a9;
}

.border-t-primary-custom {
    border-top: 1px solid #a6b6a9;
}

.border-b-primary-custom {
    border-bottom: 1px solid #a6b6a9;
}

.a-custom {
    color: #060606;
    /* remove default styles */
    text-decoration: none;
}

.a-custom:hover {
    color: #a6b6a9;
}

.input-custom {
    border: 1px solid #060606;
    padding: 5px 15px;
    border-radius: 25px;
    /* background secondary */
    background-color: #d4b4b0;    
}

.input-custom::placeholder {
    color: #060606;
}

.custom-card-header {
    background-color: #060606;
    color: white;
    border-radius: 25px 25px 0 0;
}

.custom-card-thumbnail {
    border-radius: 30px;
    transform: translateY(10%);
    aspect-ratio: 10 / 11;
    width: 100%;
}

.custom-card-body {
    background-color: #ffffff;
    border-radius: 0 0 25px 25px;
}

.user-profile-card {
    border-radius: 15px;
    border: 1px solid #060606;
}

.img-squared {
    aspect-ratio: 1 / 1;
}

.custom-banner-content {
    padding: 10%;
}

.trapezoid {
    transform: translateX(20%);
    position: relative;
    background-color: #d4b4b0; /* Optional: Set background color for the section */
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    padding: 20px; /* Adjust padding to control the spacing inside */
}

.rating img {
    margin-right: 5px;
}

.custom-white-card {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}

.slick-slide {
    margin: 0 10px; /* Add horizontal gap */
  }

  .slick-list {
    margin: 0 -10px; /* Offset the margin for proper alignment */
  }

  .slick-slide img {
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
    height: auto;
    display: block;
  }

  /* Customize arrows */
  .slick-prev, .slick-next {
    z-index: 1;
    width: 50px;
    height: 50px;
  }

  .slick-prev {
    left: -60px; /* Add gap between the arrow and the slider */
  }

  .slick-next {
    right: -60px; /* Add gap between the arrow and the slider */
  }

  .slick-prev:before, .slick-next:before {
    font-size: 40px; /* Make arrows larger */
    color: white; /* Change arrow color */
  }

  .text-white {
    color: white;
  }

  .input-border-yellow-radius-full {
    border-radius: 25px;
    border: 3px solid #f7d488;
    padding: 5px 15px;
    /* bg primary */
    background-color: #a6b6a9;
    /* placeholder black */
    color: #060606;
  }

    .input-border-yellow-radius-full::placeholder {
        color: #060606;
    }

    .white-radius-full {
        border-radius: 25px;
        background-color: white;
        padding: 5px 15px;
    }

  /* d-none trapezoid on small screen */
    @media (max-width: 768px) {
        .trapezoid {
            transform: translateX(0%);
            /* position: relative; */
            /* background-color: #d4b4b0; */
            /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); */
            padding: 20px; /* Adjust padding to control the spacing inside */
        }
        .bg-secondary-custom {
            background-color: #d4b4b0;
        }
    }